<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">
        Forgot Password
      </div>
      <div class="panel-body">
        <fieldset>
          <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "forget-form", :id => "forgetpwd" }) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
              <%= f.email_field :email, :class => "form-control placeholder-no-fix", :autofocus => true, :required => true, :placeholder => "Enter email" %>
            </div>
            <%= f.submit "Submit", :class => "btn btn-primary" %>
          <% end %>
        </fieldset>
      </div>
    </div>
    <h3>
      <small>Go back to  <a href="<%= root_url %>">Home</a></small>
    </h3>
  </div>
</div>
<script type="text/javascript">
  $("#forgetpwd").validate();
</script>